@import url(properties.css);

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    height: 100%;
    background-image: url(background.png);
    animation: scroll-background 30s linear infinite;
}

@keyframes scroll-background {
    0% {
        background-position: 0 320px;
    }

    100% {
        background-position: 480px 0;
    }
}

html,
body,
main,
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body,
main,
figure {
    flex: 1;
}

h1,
figcaption {
    margin-block-start: 1em;
    padding-block: .5em;
    padding-inline: 1em;
    text-align: center;
    text-shadow: .05em 0 black, 0 .05em black, -.05em 0 black, 0 -.05em black;
    backdrop-filter: brightness(60%);
}

h1 {
    margin-block-start: 2em;
    font-size: min(5vw, 2em);
}

figure {
    justify-content: space-around;
}

figcaption {
    font-size: min(3vw, 1.25em);
}

img {
    max-width: 33vw;
}

button {
    cursor: pointer;
    border: 0;
    background-color: inherit;
}

button::after {
    content: "👋";
}